# Unity specific files/folders to ignore
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# Development artifacts (not part of UPM package)
Dev/

# OS-specific files to ignore
.DS_Store

# Node.js modules (if any)
node_modules/
